{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>
    <p>{{ page_text }}</p>
    <form action="{{ action }}" method="{{ method }}">
    <fieldset>
        {% if database_error is not empty %}
            <small>{{ database_error }}</small>
            <br>
        {% endif %}
        {% if csrf_error is not empty %}
            <small>{{ csrf_error }}</small>
            <br>
        {% endif %}
        <input type="hidden" name="CsrfToken" value="{{ csrf_token }}">
        <label for="SiteUsername">Enter Username:<small>{{ username_error }}</small></label>
        <input id="SiteUsername" name="SiteUsername" type="text" size="20" maxlength="30">
        <br>
        <label for="SitePassword">Enter Password:<small>{{ password_error }}</small></label>
        <input id="SitePassword" name="SitePassword" type="password" autocomplete="off" size="20" maxlength="100">
        <br>
        <input type="submit" value="Submit Details">
        <input type="reset" value="Clear Fields">
        </fieldset>
    </form>
    <div id="inner-content-div">
        <a href="{{ path_for('homepage') }}">Home</a>
        <p>Already have an account?</p>
        <a href="{{ path_for('registration') }}">Register</a>
    </div>
{% endblock %}