{% extends 'banner.html.twig' %}
{% block content %}
    <h1>{{ page_heading_1 }}</h1>
    <h2>Please select one of the following options</h2>
    <div id="inner-content-div">
        <p>Send a message below</p>
        <a href="{{ path_for('sendmessage') }}">Send New Message</a>
        <p>Download a message below</p>
        <a href="{{ path_for('downloadmessage') }}">Download Message</a>
        <p>View latest messages</p>
        <a href="{{ path_for('viewmessages') }}">View Messages</a>
        {% if admin %}
            <p>View Admin Menu</p>
            <a href="{{ path_for('adminmenu') }}">Admin Menu</a>
        {% endif %}
        <p>Logout below</p>
        <a href="{{ path_for('logout') }}">Logout</a>
    </div>
{% endblock %}