{% extends 'banner.html.twig' %}
{% block content %}
    <h1>{{ page_heading_1 }}</h1>
    <div id="inner-content-div">
        <p>Select the options below to be sent to the board.</p>
        <form action="{{ action }}" method="{{ method }}">
            {% if database_error is not empty %}
                <small>{{ database_error }}</small>
                <br>
            {% endif %}
            {% if soap_error is not empty %}
                <small>{{ soap_error }}</small>
                <br>
            {% endif %}
            {% if csrf_error is not empty %}
                <small>{{ csrf_error }}</small>
                <br>
            {% endif %}
            <input type="hidden" name="csrfToken" value="{{ csrf_token }}">
            <label for="temperature">Temperature (C): <small>{{ temperatureError }}</small></label>
            <input type="number" id="temperature" name="temperature" min="-150" max="150">
            <br><br>
            <label>Fan Direction: <small>{{ fanError }}</small></label>
            <label for="forward">Forward</label>
            <input id="forward" type="radio" value="Forward" name="fan">
            <label for="reverse">Reverse</label>
            <input id="reverse" type="radio" value="Reverse" name="fan">
            <br><br>
            <label for="keypad">Last Number Entered (Max 4 Digits): <small>{{ keypadError }}</small></label>
            <input type="number" id="keypad" name="keypad" min="0" max="9999">
            <br><br>
            <label>Switch 1: <small>{{ switchOneError }}</small></label>
            <label for="switchOneOn">On</label>
            <input id="switchOneOn" type="radio" value="On" name="switchOne">
            <label for="switchOneOff">Off</label>
            <input id="switchOneOff" type="radio" value="Off" name="switchOne">
            <br><br>
            <label>Switch 2: <small>{{ switchTwoError }}</small></label>
            <label for="switchTwoOn">On</label>
            <input id="switchTwoOn" type="radio" value="On" name="switchTwo">
            <label for="switchTwoOff">Off</label>
            <input id="switchTwoOff" type="radio" value="Off" name="switchTwo">
            <br><br>
            <label>Switch 3: <small>{{ switchThreeError }}</small></label>
            <label for="switchThreeOn">On</label>
            <input id="switchThreeOn" type="radio" value="On" name="switchThree">
            <label for="switchThreeOff">Off</label>
            <input id="switchThreeOff" type="radio" value="Off" name="switchThree">
            <br><br>
            <label>Switch 4: <small>{{ switchFourError }}</small></label>
            <label for="SwitchFourOn">On</label>
            <input id="SwitchFourOn" type="radio" value="On" name="switchFour">
            <label for="SwitchFourOff">Off</label>
            <input id="SwitchFourOff" type="radio" value="Off" name="switchFour">
            <br><br>
            <input type="submit" value="Send Message">
            <hr>
            <a href="{{ path_for('menu') }}">Menu</a>
        </form>
    </div>
{% endblock %}